<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ice Cream Party To-Dos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body class="container">
    <h1>Ice Cream Party To-Do List</h1>
    <form class="form-group form-inline" action="/new" method="post">
      <input type="text" name="addnew" value="" placeholder="New to-do" class="form-control">
      <input type="text" name="assignee" value="" placeholder="Assignee?" class="form-control">
      <input type="submit" name="add" value="Add it!" class="form-control btn btn-info">
    </form>


    <h4>To do:</h4>
    {{#todos}}
    {{^completed}}
    <div class="todo-item">
      <form class="form-group" action="/done" method="post">
        <h3 class="item">{{item}}: {{assignee}}</h3>
        <input type="hidden" name="id" value="{{id}}">
        <input type="submit" name="completed" value="Mark Completed" class="form-control btn btn-success complete-btn">
      </form>
      <form class="form-group form-inline edit-form" action="/edit" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <input type="text" name="item" value="" placeholder="Edit item" class="form-control edit-input">
        <input type="submit" name="edit" value="Edit this Item" class="form-control btn btn-info">
      </form>
      <form class="form-group delete-form" action="/deleteone" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <input type="submit" name="deleteone" value="Delete this Item" class="form-control btn btn-warning">
      </form>
    </div>

      {{/completed}}
      {{/todos}}

    <h4>Completed:</h4>
    {{#todos}}
    {{#completed}}
    <ul>
      <li>{{item}}, {{completed}}</li>
    </ul>
    {{/completed}}
    {{/todos}}

    <form class="form-group" action="/deleteall" method="post">
      <input type="submit" name="deleteall" value="Delete all Completed" class="form-control btn btn-warning">
    </form>


  </body>
</html>
